<main>
<%if current_user.in_group?(@group.to_s) || current_user.admin? %>
	<div class="container">
		<%= link_to("Home", "/", class: 'btn') %>
		<% if @is_locked %>
			<%= link_to("Unlock", "lock?lock_type=unlocked", class: 'btn') %>
		<% else %>
			<%= link_to("Lock", "lock?lock_type=locked", class: 'btn') %>
		<% end %>
		<div>
			<table class='striped'>
				<thead>
					<tr>
						<th data-field="time"> Time </th>
						<th data-field="cid"> CID </th>
						<th data-field="entry"> Entry </th>
					</tr>
				</thead>
				<tbody>
					<%= render partial: 'log_list' %>
				</tbody>
			</table>
			<div class='section'>
				<%= will_paginate @log_entries, renderer: MaterializePagination::Rails %>
			</div>
		</div>
	</div>
<%end%>
</main>