<!-- Requires an local value of i passed when rendering the partial like:-->
<!-- render partial: 'bulb_controls', locals: {i: a number} -->

<div class="col s12 m6 valign-wrapper light-row">
  <div class="col s4 align-container">
    <div class="switch">
      <label>
          <%= check_box_tag "switch_#{i}", 'on/off', find_light(i).on,
              onclick:"switchOnOff(#{i},#{find_light(i).hue},#{find_light(i).sat},#{find_light(i).bri});" %>
            <span class="lever"></span>
       </label>
     </div>
  </div>
  <div class="col s3 align-container">
    <canvas onclick="setSliders(<%= i %>)" id= <%= "color_shower_#{i}" %>  width="30" height="30" class="bulb">
  </div>
  <div class="col s4 align-container">
    <%= check_box_tag "lights[#{i}]", 'yes', false, class: 'filled-in' %>
    <%= label_tag "select_#{i}", "Select", for: "lights_#{i}" %>
  </div>
</div>
