<!-- Requires an local value of i passed when rendering the partial like:-->
<!-- render partial: 'bulb_controls', locals: {i: a number} -->

<div class="col s12 m6 valign-wrapper light-row">
  <div class="col s4 align-container">
    <div class="switch">
      <label>
          <%= check_box_tag "switch_#{light.id}", 'on/off', light.on,
              onclick:"switchOnOff(#{light.id},#{light.hue},#{light.sat},#{light.bri});" %>
            <span class="lever"></span>
       </label>
     </div>
  </div>
  <div class="col s3 align-container">
    <canvas onclick="setSliders(<%= light.id %>)" id="color_shower_<%= light.id %>"  width="30" height="30" class="bulb">
  </div>
  <div class="col s4 align-container">
    <%= check_box_tag "lights[#{light.id}]", 'yes', false, class: 'filled-in' %>
    <%= label_tag "select_#{light.id}", "Select", for: "lights_#{light.id}" %>
  </div>
</div>
