<%= render partial: 'button_actions' %>

<%= form_tag(multi_update_lights_path, remote:true, id: 'hue-form') do %>

    <div class="actions light-actions">
        <%= render partial: 'lights_list' %>
    </div>

    <div class="preset-color-list actions">
      <%= render partial: 'preset_colors/preset_color', collection: @preset_colors %>
    </div>

    <%= render partial: 'slider_actions' %>

<% end %>
