<%= form_tag(multi_update_lights_path, remote:true) do %>

<div class="col s11 m11 l5 offset-s1 offset-m1 offset-l1">
	<table class="">
		<% @lights.each do |light| %>
	    <tr>
	      <td>
			  <div class="switch">
			  <label>
			  	Off
			    <%=check_box_tag "switch_#{light.id}", 'on/off', light.on, 
			      	onclick:"switchOnOff(#{light.id},#{light.hue},#{light.sat},#{light.bri});"%>
			      <span class="lever"></span>
		      	On
			   </label>
			   </div>
	      </td>
	      <td><canvas id="color_shower_<%=light.id%>" width="30" height="30"></td>
	      <td>
	      	<%= check_box_tag "lights[#{light.id}]", 'yes', false, class: 'filled-in'%>
			<%= label_tag "select_#{light.id}", "Select", for: "lights_#{light.id}", 
					'data-light_id'=>"#{light.id}", 'data-light_hue'=>"#{light.hue}", 'data-light_sat'=>"#{light.sat}", 'data-light_bri'=>"#{light.bri}"%>
	      </td>
	    </tr>
	  <% end %>
	</table>
	</div>
	<div class="col s12 m12 l6">
		<div class="section">
				<p><%= label_tag("Brightness") %></p>
				<%= range_field_tag :bri, 254, in: 0..254, class: 'update col s8', oninput:"redraw();"%>
				<%= text_field_tag :bri, 254, class: 'update col s2', onkeypress:"redraw();"%>
			</div><br><br>

			<div class="section">
				<p><%= label_tag("Hue") %></p>
				<%= range_field_tag :hue, 65535,in: 0..65535, class: 'update col s8', oninput:"redraw();"%>
				<%= text_field_tag :hue, 65535, class: 'update col s2', onkeypress:"redraw();" %>
			</div><br><br>
			<div class="section">
				<p><%= label_tag(:sat, "Saturation:") %></p>
				<%= range_field_tag :sat, 254, in: 0..254, class: 'update col s8', oninput:"redraw();" %>
				<%= text_field_tag :sat, 254, class: 'update col s2', onkeypress:"redraw();" %>
			</div><br><br>
			<div class="col offset-s6">
				<%= submit_tag "Change", :class => "btn" %>
			</div>
	</div>
<% end %>			