<div id='slider-actions' class="column small-12 actions end top-level-container">
  <div class="column small-12" id="wrapper">
    <%= label_tag "Saturation (of color)"%>
    <div class="sat-show slider-bg range-slider">
      <%= range_field_tag :sat_range, 254, in: 0..254, class: 'update clicked'%>
    </div>
  </div><br>
  <div class="column small-12" id="wrapper">
    <%= label_tag "Hue value (of color)" %>
    <div class="hue-show slider-bg range-slider">
      <%= range_field_tag :hue_range, 65535,in: 0..65535, class: 'update clicked'%>
    </div>
  </div><br><br>
  <div class="column small-12" id="wrapper">
    <%= label_tag "Brightness (of bulbs)"%>
    <div class="bri-show slider-bg range-slider">
      <%= range_field_tag :bri_range, 254,in: 0..254, class: 'update clicked'%>
    </div>
  </div><br><br>
  <div class="column small-12"  style="margin-top:10px">
    <%= submit_tag "Change", class: "button radius right submit", id: "change_btn" %>
  </div>
</div>
