<main>
	<% if current_user.present? %>
		<% content_for :headJavascript do %>
  			<script>
  			function ruby_ready() {
				<% @lights.each do |light| %>
					drawLamp(<%=light.id%>, <%=light.hue%>, <%=light.sat%>, <%=light.bri%>);
				<% end %>
  			}
				function party_ready() {
					<% if Rails.application.config.is_party_on %>
						runParty();
					<% else %>
						ruinParty();
					<% end %>
				}
			</script>
		<% end %>
		<div class = "container">
			<div class="row">
				<div class="row">
					<div class="col s8 l8 m8 offset-l2 offset-m2 offset-s2">
						<%= render 'form' %>
					</div>
				</div>
			<% if @is_locked %>
				<div class='card-panel red lighten-1 center' id='lockbar'>
					Hue is locked
				</div>
			<% end %>
			</div>
		</div>
	<% end %>
</main>

