<main>
	<% if current_user.present? %>
		<% content_for :headJavascript do %>
  			<script>
  			(function () {
			    if (window.addEventListener) {
			        window.addEventListener('DOMContentLoaded', domReady, false);
			    } else {
			        window.attachEvent('onload', domReady);
			    }
			} ());
  			function domReady() {
				<% @lights.each do |light| %>
					drawLamp(<%=light.id%>, <%=light.hue%>, <%=light.sat%>, <%=light.bri%>);
				<% end %>
				draw_hue_canvas();
				draw_sat_canvas();
				draw_bri_canvas();
  			}
			</script>
		<% end %>
		<div class = "container">
			<h1 class="center-align">HueIT</h1>
			<div class="row">
				
				<div class ="row">
					<%= render 'form' %>
				</div>
			</div>	
		</div>
	<% end %>
</main>

