<main>
	<% if current_user.present? %>
		<% content_for :headJavascript do %>
  			<script>
  			(function () {
			    if (window.addEventListener) {
			        window.addEventListener('DOMContentLoaded', domReady, false);
			    } else {
			        window.attachEvent('onload', domReady);
			    }
			} ());
  			function domReady() {
				<% @lights.each do |light| %>
					drawLamp(<%=light.id%>, <%=light.hue%>, <%=light.sat%>, <%=light.bri%>);
				<% end %>
				draw_shower();
  			}
			</script>
		<% end %>
		<div class = "container">
			<h1 class="center-align">HueIT</h1>
			<div class ="row">
				<%= render 'form' %>
			</div>
			<div class="row">
				<div class="col s9 m9 l9 offset-s2 offset-m2 offset-l2">
					<%=link_to "Reset", reset_lights_lights_path, remote: true, class: "btn yellow darken-4"%>
					<%=link_to "On all", turn_all_on_lights_path, remote: true, class: "btn"%>
					<%=link_to "Off all", turn_all_off_lights_path, remote: true, class: "btn"%>
				</div>
			</div>
		</div>
	<% end %>
</main>

