
<main>
	<% if current_user.present? %>
		<div class = "container">
			<h1 class="center-align">HueIT</h1>
			<div class ="row">
		
				<%= form_tag(multi_update_lights_path, remote:true) do %>
				<div class="col s8 m8 l5 offset-s1 offset-m1 ">
        			<table class="">
		            	<% @lights.each do |light| %>
		                <tr>
		                  <td>
							  <div class="switch">
							  <label>
							  	Off
							    <%=check_box_tag "switch_#{light.id}", 'on/off', light.on, 
							      onclick:"switchOnOff(#{light.id});"%>
							      <span class="lever"></span>
							      On
							   </label>
							   </div>
		                  </td>
		                  <td><canvas id="color_shower_<%=light.id%>" width="30" height="30"></td>
		                  <td>
		                  	<%= check_box_tag "lights[#{light.id}]", 'yes', false, class: 'filled-in'%>
									<%= label_tag "select", nil, for: "lights_#{light.id}", 
									onclick:"colorLamp(#{light.id}, #{light.hue}, #{light.sat}, #{light.bri});"%>
		                  </td>
		                </tr>
		              <% end %>
        			</table>
        			</div>
					<div class="col s8 m8 l6">
						<div class="section">
								<p><%= label_tag("Brightness") %></p>
								<%= range_field_tag :bri, 254, in: 0..254, class: 'update col s8', oninput:"redraw();"%>
								<%= text_field_tag :bri, 254, class: 'update col s2', onkeypress:"redraw();"%>
							</div><br><br>

							<div class="section">
								<p><%= label_tag("Hue") %></p>
								<%= range_field_tag :hue, 65535,in: 0..65535, class: 'update col s8', oninput:"redraw();"%>
								<%= text_field_tag :hue, 65535, class: 'update col s2', onkeypress:"redraw();" %>
							</div><br><br>
							<div class="section">
								<p><%= label_tag(:sat, "Saturation:") %></p>
								<%= range_field_tag :sat, 254, in: 0..254, class: 'update col s8', oninput:"redraw();" %>
								<%= text_field_tag :sat, 254, class: 'update col s2', onkeypress:"redraw();" %>
							</div><br><br>
							<div class="col offset-s6">
								<%= submit_tag "Change", :class => "btn"  %>
							</div>
					</div>
        			<% end %>			
				</div>
			</div>
		</div>
	<% end %>
</main>

