<main>
	<% if current_user.present? %>
		<% content_for :headJavascript do %>
  			<script>
  			function ruby_ready() {
				<% @lights.each do |light| %>
					drawLamp(<%=light.id%>, <%=light.hue%>, <%=light.sat%>, <%=light.bri%>);
				<% end %>
				<% if Rails.application.config.is_party_on %>
					togglePartyMode();
				<% end %>
  			}
			</script>
		<% end %>
		<div class = "container">
			<h1 class="center-align">HueIT</h1>
			<div class="row">
				
				<div class ="row">
					<%= render 'form' %>
				</div>
			<% if @is_locked %>
				<div class='card-panel red lighten-1 center' id='lockbar'>
					Hue is locked
				</div>
			<% end %>	
			</div>
		</div>
	<% end %>
</main>

