<!DOCTYPE html>

<html>
	<head>
  		<%= stylesheet_link_tag "materialize" %>
  		<%= javascript_include_tag 'materialize' %>
	</head>

	<body>
		<div class = "container">
			
			<div class="row">
				<div class = "col s12 cyan" >
					<h1>HUE IT</h1>
				</div>
			</div>

			<div class ="row">
				<div class = "col s3 red">
					MENU

				</div>
				<div class="col s9 green">
					<div class = "row">

						<% @lights.each do |light| %>
						<div class = "card">

							<p><%= "Lampa #{light.id} Hue: #{light.hue} Saturation: #{light.sat} On: #{light.on}" %> 
		
							<%= link_to "turnOff", controller: "lights", action: "turnOff", id: light.id %>

							<%= link_to "turnOn", controller: "lights", action: "turnOn", id: light.id %>
							</p>
							<% end %>
						</div>
					</div>

					<div class="light_picker">
						<%= form_tag(multi_update_lights_path) do %>

							<div>
								<%= label_tag("Brightness") %>
								<%= range_field_tag :bri, 254, in: 0..254, class: 'update' %> <%= text_field_tag :bri, 254, class: 'update' %><br />
							</div>
							<%= label_tag(:hue, "Hue:") %>
							<%= number_field_tag :hue, range: 0..65535, class: 'update' %> <br />
							<%= label_tag(:sat, "Saturation:") %>
							<%= range_field_tag :sat, 254, in: 0..254, class: 'update' %> <%= text_field_tag :sat, 254, class: 'update'%> <br />
							<div class="hubben-pic">
								<% @lights.each_with_index do |light, i| %>
									<div>
										<%= check_box_tag "lights[#{light.id}]", true, true, style: "right: #{40 + i/3 * 60}px; top: #{100 +  i%3 * 50}px" %>
										<%= label_tag nil, nil, for: "lights_#{light.id}", style: "right: #{40 + i/3 * 60}px; top: #{100 +  i%3 * 50}px"%>
									</div>
								<% end %>
							</div>
							<%= submit_tag "Change", :class => "waves-effect btn "  %>
						<% end %>

					</div>
				</div>
			</div>

		</div>
	</body>
</html>

