<!DOCTYPE html>

<html>
	<head>
  		<%= stylesheet_link_tag "materialize" %>
  		<%= javascript_include_tag 'materialize' %>
	</head>

	<body>
		<div class = "container">
			
			<div class="row">
				<div class = "col s12 cyan" >
					<h1>HUE IT</h1>
				</div>
			</div>

			<div class ="row">
				<div class = "col s3 red">
					MENU

				</div>
				<div class="col s9 green">
					<div class = "row">

						<% @lights.each do |light| %>
						<div class = "card">

							<p><%= "Lampa #{light.id} Hue: #{light.hue} Saturation: #{light.sat} On: #{light.on}" %> 
		
							<%= link_to "turnOff", controller: "lights", action: "turnOff", id: light.id %>

							<%= link_to "turnOn", controller: "lights", action: "turnOn", id: light.id %>
							</p>
							<% end %>
						</div>
					</div>

					<div class="light_picker">
						<p>
							<%= form_tag("lights", method: "post") do %>

							<%= label_tag("Which light") %>
							<%= text_field_tag(:id) %> <br />
							<%= label_tag(:newhue0, "Which hue:") %>
							<%= text_field_tag(:newhue0) %> <br />
							<%= label_tag(:newsat0, "Which saturation:") %>
							<%= text_field_tag(:newsat0) %> <br />
							<%= submit_tag "Change", :class => "waves-effect btn "  %>
							<% end %>

						</p>


						<%= image_tag "hubben2.1.png" %>
						<%= image_submit_tag "light-green25x42.png" %>
					</div>
				</div>
			</div>

		</div>
	</body>
</html>

