<!DOCTYPE html>

<html>
	<head>
		<%= stylesheet_link_tag "materialize" %>
		<%= javascript_include_tag 'materialize, draw_lightbulb' %>
		<script type="text/javascript">
			$(document).ready(function() {
				draw("color_shower");
			});
		</script>
	</head>

	<body >
		<div class = "container">

			<div class="row">
				<div class = "col s12 cyan" >
					<h1>HUE IT</h1>
				</div>
			</div>

			<div class ="row">
				<div class = "col s3 red">
					MENU

				</div>
				<div class="col s9">
					<div class = "row">
            <table>
              <tr>
                <td>Lampa</td>
                <td>Hue</td>
                <td>Saturation</td>
                <td>On?</td>
                <td>Commands</td>
              </tr>

              <% @lights.each do |light| %>
                <tr>
                  <td><%= light.id %></td>
                  <td><%= light.hue %></td>
                  <td><%= light.sat %></td>
                  <td><%= light.on %></td>
                  <td>
                    <%= link_to "turnOff", controller: "lights", action: "turnOff", id: light.id %>
                    <%= link_to "turnOn", controller: "lights", action: "turnOn", id: light.id %>
                  </td>
                </tr>
              <% end %>
            </table>
					</div>

					<div class="light_picker">
						<%= form_tag(multi_update_lights_path) do %>
							<div class="section">
								<p><%= label_tag("Brightness") %></p>
								<%= range_field_tag :bri, 254, in: 0..254, class: 'update col s8', oninput:'draw("color_shower");'%>
								<%= text_field_tag :bri, 254, class: 'update col s2', onkeypress:'draw("color_shower");'%>
							</div><br><br>

							<div class="section">
								<p><%= label_tag("Hue") %></p>
								<%= range_field_tag :hue, 65535,in: 0..65535, class: 'update col s8', oninput:'draw("color_shower");'%>
								<%= text_field_tag :hue, 65535, class: 'update col s2', onkeypress:'draw("color_shower");' %>
							</div><br><br>
							<div class="section">
								<p><%= label_tag(:sat, "Saturation:") %></p>
								<%= range_field_tag :sat, 254, in: 0..254, class: 'update col s8', oninput:'draw("color_shower");' %>
								<%= text_field_tag :sat, 254, class: 'update col s2', onkeypress:'draw("color_shower");' %>
							</div><br><br>
							<div class="hubben-pic">
								<% @lights.each_with_index do |light, i| %>
									<div>
										<%= check_box_tag "lights[#{light.id}]", true, true, style: "right: #{40 + i/3 * 60}px; top: #{100 +  i%3 * 50}px" %>
										<%= label_tag nil, nil, for: "lights_#{light.id}", style: "right: #{40 + i/3 * 60}px; top: #{100 +  i%3 * 50}px"%>
									</div>
								<% end %>
							</div>
							<%= submit_tag "Change", :class => "waves-effect btn "  %>
						<% end %>
					</div>
					<canvas id="color_shower" width="300" height="400">
					</canvas>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>

