<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>HueIT</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="theme-color" content="#09cdda">

    <%= yield :headJavascript %>
  </head>

  <body>
    <div class="header-holder">
      <header>
        <div class="row align-middle align-justify">
          <div class="large-8 column">
            <h1>hueIT <small>Digital light picker</small></h1>
          </div>
          <div class="large-4 column show-for-large">
            <div class="right it-logo"></div>
          </div>
        </div>
      </header>
    </div>
    <%= yield %>
  </body>
</html>
