<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>HueIT</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="theme-color" content="#09cdda">

    <%= yield :headJavascript %>
  </head>

  <body>
    <header>
      <div class="max-width">
        <h1>hueIT <small>Digital light picker</small></h1>
        <div class="it-logo"></div>
      </div>
    </header>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, class: "#{name.to_s} callout", data: {:closable => ""} do %>
        <%= content_tag :h5, msg, class: "flash-heading" %>
        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
