<!DOCTYPE html>
<html>
<head>
    <title>HueIT</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

	<!-- Compiled and minified CSS -->
	<%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css" %>
	<!-- Compiled and minified JavaScript -->
	<%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"%>
	<!-- Materialize icons -->
	<%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>

	<%= yield :headJavascript %>
  <%= csrf_meta_tags %>
  <meta name="theme-color" content="#09cdda">

</head>
<body>
  <div class="header-holder">
    <header class="row">
      <div class="col l8 m10 s12 offset-l2 offset-m1 valign-wrapper">
        <div class="s12 m12 l10 col valign">
          <h1>hueIT <small>Digital light picker</small></h1>
        </div>
        <div class="l2 col hide-on-med-and-down valign">
          <div class="right it-logo"></div>
        </div>
        </div>
    </header>
  </div>
	<%= yield %>

</body>
</html>
